<!--
~ Copyright The WildFly Authors
~ SPDX-License-Identifier: Apache-2.0
~
-->
<!-- TODO Rename this module to something matching your chosen subsystem name -->
<module xmlns="urn:jboss:module:1.9" name="org.wildfly.cloud.bootable.runtime">
  <properties>
    <property name="jboss.api" value="private"/>
  </properties>

  <resources>
    <artifact name="${org.wildfly.cloud:wildfly-bootable-cloud-runtime}"/>
  </resources>
  <dependencies>
    <module name="org.wildfly.bootable-jar"/>
    <module name="java.xml"/>
  </dependencies>
  <provides>
    <service name="org.wildfly.core.jar.runtime.RuntimeExtension">
      <with-class name="org.wildfly.cloud.bootable.runtime.CloudExtension"/>
    </service>
  </provides>
</module>